body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightsalmon;
}

img{
    width: 100%;
}
main{
    display: flex;
}
#s1{
    height: 600px;
    width: 30%;
    text-align: center;
}
#s2{
    width: 70%;
    height: 600px;
    background-color: darksalmon;
    text-align: center;
}
footer{
    background-color: darksalmon;
    height: 120px;
    width: 100%;
    margin-top: -20px;
    padding-top: 50px;
}
p{
    margin-left: 100px;
}